<h1><%= @user_profile.name %>'s profile</h1>

<h2>points accumulated</h2>
<%= @user_profile.total_points %>

<h2>tasks accomplished</h2>
<%= @user_profile.tasks.each do |task| %>
  <%= task.title %>
<% end %>

<style>
body {
  font-family: 'Courier New', monospace;
  background-color:#A0BFB6
}
</style>
