<h1>Volunteering Tracker</h1>
<ul>
  <li>gameify your altruism!</li>
  <li>compete with friends!</li>
  <li>find new opportunities to make the world a better place!</li>
</ul>

<a href="/orgs">browse organizations</a>
|
<a href="/create_account">make an account</a>

<style>
body {
  font-family: 'Courier New', monospace;
  background-color:#A0BFB6
}
</style>